.homep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50vw;
    height:50vh;
    box-shadow:15px grey;
    position: relative;
    background-color: white;
}

.home,.button{
    background: blue;
    color:white;
    cursor: pointer;
    width:60px;
    font-size: 1.24em;
    height:20px;
    align-items: center;
    padding: 0.5rem;
    margin:0.5rem 0;
    border-radius: 9px;
    outline: none;


}